#fqa {
	height: 100vh;
	display: flex;
	align-items: center;
	background-image: url('./f4.jfif');
	background-repeat: no-repeat;
	background-position: right;
}

#fqa .accordion-header button {
	background-color: #f8f8f8;
	color: #5f6368;
	font-weight: bold;
}

@media (max-width: 768px) {
	#fqa {
		background: linear-gradient(#db7093, #408080) !important;
	}
}
