#fqa {
    height: 100vh;
    display:flex;
    align-items: center;
    background-image: url('./f4.jfif');
    background-repeat: no-repeat;
    background-position: right;
}

#fqa .accordion-header button {
    background-color: #F8F8F8;
    color: #5f6368;
    font-weight: bold;
}
