.NavBar {
	background-color: rgba(255, 255, 255, 0.4);
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #db7093;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-weight: bold;
}

.NavBar img {
	max-width: 240px;
}

.NavLink {
	margin: 10px;
	color: #002c49 !important;
}

.NavLink:active {
	transform: scale(0.8);
}

@media (max-width: 768px) {
	.NavBar {
		background-color: #fff;
		opacity: 1;
	}

	#navbarScroll {
		background-color: #fff;
		opacity: 1;
	}
}
